<%- include('header'); -%>
 <div class="content">

    <h1 id="addresses">Name: John Doe</h1>
    <h1 id="addresses">Address: 123 Flight Lane</h1>
    <h1 id="phones">Phone: 01234567899</h1>
    <h1 id="emails">Email: john@gmail.com</h1>
 
 </div>
<%- include('footer'); -%>