<%- include('header'); -%>
 <div class="content">
    <form> 
        <label for="login">Login:</label> <br />
            <input type="text" id="login" /> <br />
        
            <label for="password">password:</label> <br />
            <input type="text" id="password" /> <br />
        </form>
 </div>
<%- include('footer'); -%>