<%- include('header'); -%>
 <div class="content">
    <form> 
        <label for="firstName">First Name:</label> <br />
        <input type="text" id="firstName" /> <br />

        <label for="lastname">Last Name:</label> <br />
        <input type="text" id="lastname" /> <br />
    
        <label for="addresses">Address:</label> <br />
        <input type="text" id="address" /> <br />
    
        <label for="phone">Phone Number:</label> <br />
        <input type="text" id="phone" /> <br />
    
        <label for="email">Email:</label> <br />
        <input type="text" id="email" /> <br />

        <label for="password">Password:</label> <br />
        <input type="text" id="password" /> <br />
    </form>
 </div>
<%- include('footer'); -%>