<%- include('header'); -%>
 <div class="content">
  <h1 id="username">username</h1>
  <h1 id="password">password</h1>
  <h1 id="names">names</h1>
  <h1 id="addresses">addresses</h1>
  <h1 id="phones">phones</h1>
  <h1 id="emails">emails</h1>
 </div>
<%- include('footer'); -%>